* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes animatedBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes borderOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes borderOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  height: 100vh;
  width: 100%;
  background-color: #23242a;
  font-size: 1em;
}
body .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 500px;
  background-color: #1c1c1c;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0.9;
  box-shadow: 0px 0px 10px #1c1c1c;
}
body .container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  -webkit-animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
          animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
  transform-origin: bottom right;
}
body .container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  -webkit-animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
          animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
  transform-origin: bottom right;
  display: var(--display);
}
body .container .subscriptionForm {
  position: absolute;
  inset: 2px;
  background-color: #28292d;
  border-radius: 10px;
  z-index: 1;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body .container .subscriptionForm h2 {
  color: #45f3ff;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
body .container .subscriptionForm h2 span {
  letter-spacing: 0.2em;
  font-size: 0.4em;
  position: absolute;
  top: 20%;
  right: 16%;
}
body .container .subscriptionForm .inputBox {
  margin-top: 30px;
  position: relative;
}
body .container .subscriptionForm .inputBox input {
  width: 100%;
  padding: 22px 10px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 1em;
  letter-spacing: 0.05em;
}
body .container .subscriptionForm .inputBox input:focus ~ span, body .container .subscriptionForm .inputBox input:valid ~ span {
  color: #45f3ff;
  transform: translateY(-30px);
  font-size: 0.75em;
}
body .container .subscriptionForm .inputBox input:focus ~ div, body .container .subscriptionForm .inputBox input:valid ~ div {
  height: 35px;
}
body .container .subscriptionForm .inputBox span {
  padding: 20px 0;
  position: absolute;
  left: 0;
  font-size: 1em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 500ms;
}
body .container .subscriptionForm .inputBox div {
  height: 1px;
  width: 100%;
  background: #45f3ff;
  pointer-events: none;
  position: absolute;
  bottom: 17px;
  transition: 500ms;
  border-radius: 5px;
  z-index: -1;
}
body .container .subscriptionForm .links {
  display: flex;
  justify-content: space-between;
}
body .container .subscriptionForm .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}
body .container .subscriptionForm .links a:hover {
  color: #45f3ff;
}
body .container .subscriptionForm .links a:nth-child(2) {
  color: #45f3ff;
}
body .container .subscriptionForm .submitBtn {
  border: none;
  outline: none;
  background: #45f3ff;
  padding: 12px 25px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
}
body .container .subscriptionForm .submitBtn:hover {
  opacity: 0.9;
}/*# sourceMappingURL=main.css.map */