@import 'base.scss';
@import 'animations.scss';

body {
    height: 100vh;
    width: 100%;
    background-color: #23242a;
    font-size: 1em;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 380px;
        height: 420px;
        background-color: #1c1c1c;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        overflow: hidden;

        &::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
            animation: animatedBorder 8000ms linear infinite;
            transform-origin: bottom right;
        }

        &::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 420px;
            background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
            animation: animatedBorder 8000ms linear infinite;
            animation-delay: 4000ms;
            transform-origin: bottom right;
        }

        .subscriptionForm {
            position: absolute;
            inset: 2px;
            background-color: #28292d;
            border-radius: 10px;
            z-index: 1;
            padding: 50px 40px;
            display: flex;
            flex-direction: column;

            h2 {
                color: #45f3ff;
                font-size: 1.5em;
                text-align: center;
                letter-spacing: 0.1em;
            }

            .inputBox {
                margin-top: 30px;
                position: relative; // posicionar os filhos relativos a ele

                input {
                    width: 100%;
                    padding: 22px 10px;
                    outline: none;
                    background: transparent;
                    border: none;
                    //color: #23242a;
                    font-size: 1em;
                    letter-spacing: 0.05em;

                    &:focus ~ span,
                    &:valid ~ span {
                        color: #45f3ff;
                        transform: translateY(-30px);
                        font-size: 0.75em;
                    }

                    &:focus ~ div,
                    &:valid ~ div {
                        height: 35px;
                    }
                }
                
                span {
                    padding: 20px 0;
                    position: absolute; // torna um relemento relativo ao body ou ao elemento mais próximo com position = relative
                    left: 0;
                    font-size: 1em;
                    color: #8f8f8f;
                    pointer-events: none;
                    letter-spacing: 0.05em;
                    transition: 500ms;
                }

                div {
                    height: 2px;
                    width: 100%;
                    background: #45f3ff;
                    pointer-events: none;
                    position: absolute;
                    bottom: 17px;
                    transition: 500ms;
                    border-radius: 5px;
                    z-index: -1;
                }
            }

            .links {
                display: flex;
                justify-content: space-between;

                a {
                    margin: 10px 0;
                    font-size: 0.75em;
                    color: #8f8f8f;
                    text-decoration: none;

                    &:hover {
                        color: #45f3ff;
                    }

                    &:nth-child(2) {
                        color: #45f3ff;
                    }
                }
            }

            .submitBtn {
                border: none;
                outline: none;
                background: #45f3ff;
                padding: 12px 25px;
                border-radius: 5px;
                width: fit-content;
                margin-top: 10px;
                cursor: pointer;
                font-weight: bold;
            }
        }
    }
}