* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins", sans-serif;
}

@-webkit-keyframes animatedBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes animatedBorder {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes borderOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes borderOpacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
body {
  height: 100vh;
  height: calc(100vh - (100vh - 100%));
  background-color: #23242a;
  font-size: 1em;
}
@media (max-width: 425px) {
  body {
    font-size: 0.9em;
  }
}
@media (max-width: 375px) {
  body {
    font-size: 0.8em;
  }
}
@media (max-width: 320px) {
  body {
    font-size: 0.7em;
  }
}
body .container {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 380px;
  height: 500px;
  background-color: #1c1c1c;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  overflow: hidden;
  opacity: 0.9;
  box-shadow: 0px 0px 10px #1c1c1c;
}
@media (max-width: 425px) {
  body .container {
    width: 310px;
    height: 480px;
  }
}
@media (max-width: 375px) {
  body .container {
    width: 280px;
    height: 460px;
  }
}
@media (max-width: 320px) {
  body .container {
    width: 230px;
    height: 440px;
  }
}
body .container::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  -webkit-animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1 normal;
          animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1 normal;
  transform-origin: bottom right;
  z-index: 1;
}
@media (max-width: 425px) {
  body .container::before {
    width: 310px;
    height: 480px;
  }
}
@media (max-width: 375px) {
  body .container::before {
    width: 280px;
    height: 460px;
  }
}
@media (max-width: 320px) {
  body .container::before {
    width: 230px;
    height: 440px;
  }
}
body .container::after {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 380px;
  height: 500px;
  background: linear-gradient(0deg, transparent, #45f3ff, #45f3ff);
  -webkit-animation: animatedBorder 10000ms linear infinite, borderOpacity 1000ms linear 1 normal;
          animation: animatedBorder 10000ms linear infinite, borderOpacity 1000ms linear 1 normal;
  transform-origin: bottom right;
  display: var(--display);
  z-index: 2;
}
@media (max-width: 425px) {
  body .container::after {
    width: 310px;
    height: 480px;
    -webkit-animation: borderOpacity 2000ms linear 4900ms, animatedBorder 10000ms linear 5000ms infinite;
            animation: borderOpacity 2000ms linear 4900ms, animatedBorder 10000ms linear 5000ms infinite;
  }
}
@media (max-width: 375px) {
  body .container::after {
    width: 280px;
    height: 460px;
  }
}
@media (max-width: 320px) {
  body .container::after {
    width: 230px;
    height: 440px;
  }
}
body .container .subscriptionForm {
  position: absolute;
  inset: 2px;
  background-color: #28292d;
  border-radius: 10px;
  z-index: 3;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media (max-width: 425px) {
  body .container .subscriptionForm {
    padding: 30px;
  }
}
@media (max-width: 375px) {
  body .container .subscriptionForm {
    padding: 20px;
  }
}
@media (max-width: 320px) {
  body .container .subscriptionForm {
    padding: 10px;
  }
}
body .container .subscriptionForm h2 {
  color: #45f3ff;
  font-size: 1.7em;
  text-align: center;
  letter-spacing: 0.1em;
  margin-bottom: 30px;
}
@media (max-width: 375px) {
  body .container .subscriptionForm h2 {
    font-size: 1.6em;
  }
}
body .container .subscriptionForm h2 span {
  letter-spacing: 0.2em;
  font-size: 0.4em;
  position: absolute;
  top: 20%;
  right: 17.3%;
}
@media (max-width: 425px) {
  body .container .subscriptionForm h2 span {
    top: 19.5%;
    right: 14%;
  }
}
@media (max-width: 375px) {
  body .container .subscriptionForm h2 span {
    top: 19%;
    right: 16.5%;
  }
}
@media (max-width: 320px) {
  body .container .subscriptionForm h2 span {
    top: 18.1%;
    right: 14%;
  }
}
body .container .subscriptionForm .inputBox {
  margin-top: 30px;
  position: relative;
}
body .container .subscriptionForm .inputBox input {
  width: 100%;
  padding: 22px 10px;
  outline: none;
  background: transparent;
  border: none;
  font-size: 1em;
  letter-spacing: 0.05em;
}
body .container .subscriptionForm .inputBox input:focus ~ span, body .container .subscriptionForm .inputBox input:valid ~ span {
  color: #45f3ff;
  transform: translateY(-35px);
  font-size: 0.75em;
}
body .container .subscriptionForm .inputBox input:focus ~ div, body .container .subscriptionForm .inputBox input:valid ~ div {
  height: 35px;
}
body .container .subscriptionForm .inputBox span {
  padding: 20px 0;
  position: absolute;
  left: 0;
  bottom: 0;
  font-size: 0.9em;
  color: #8f8f8f;
  pointer-events: none;
  letter-spacing: 0.05em;
  transition: 500ms;
}
body .container .subscriptionForm .inputBox div {
  height: 1px;
  width: 100%;
  background: #45f3ff;
  pointer-events: none;
  position: absolute;
  bottom: 17px;
  transition: 500ms;
  border-radius: 5px;
  z-index: -1;
}
body .container .subscriptionForm .links {
  display: flex;
  justify-content: space-between;
}
body .container .subscriptionForm .links a {
  margin: 10px 0;
  font-size: 0.75em;
  color: #8f8f8f;
  text-decoration: none;
}
body .container .subscriptionForm .links a:hover {
  color: #45f3ff;
}
body .container .subscriptionForm .links a:nth-child(2) {
  color: #45f3ff;
}
body .container .subscriptionForm .submitBtn {
  border: none;
  outline: none;
  background: #45f3ff;
  padding: 12px 25px;
  border-radius: 5px;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  font-size: 0.85em;
}
body .container .subscriptionForm .submitBtn:hover {
  opacity: 0.9;
}
@media (max-width: 425px) {
  body .container .subscriptionForm .submitBtn {
    font-size: 0.8em;
  }
}
@media (max-width: 375px) {
  body .container .subscriptionForm .submitBtn {
    font-size: 0.75em;
  }
}
@media (max-width: 320px) {
  body .container .subscriptionForm .submitBtn {
    font-size: 0.7em;
  }
}/*# sourceMappingURL=main.css.map */