@import 'base.scss';
@import 'animations.scss';
@import 'variables.scss';

body {
    height: 100vh;
    width: 100%;
    background-color: $body-background;
    font-size: 1em;

    .container {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 380px;
        height: 500px;
        background-color: $container-border-and-shadow;
        border-radius: 10px;
        transform: translate(-50%, -50%);
        overflow: hidden;
        opacity: 0.9;
        box-shadow: 0px 0px 10px $container-border-and-shadow;

        &::before {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 500px;
            background: linear-gradient(0deg, transparent, $main-light-color, $main-light-color);
            animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
            transform-origin: bottom right;
        }

        &::after {
            content: '';
            position: absolute;
            top: -50%;
            left: -50%;
            width: 380px;
            height: 500px;
            background: linear-gradient(0deg, transparent, $main-light-color, $main-light-color);
            animation: animatedBorder 10000ms linear infinite, borderOpacity 5000ms linear 1;
            transform-origin: bottom right;
            display: var(--display); // declare a variable to handle the pseudo-element via JS
        }

        .subscriptionForm {
            position: absolute;
            inset: 2px;
            background-color: $form-background;
            border-radius: 10px;
            z-index: 1;
            padding: 40px;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h2 {
                color: $main-light-color;
                font-size: 1.7em;
                text-align: center;
                letter-spacing: 0.1em;
                margin-bottom: 30px;

                span {
                    letter-spacing: 0.2em;
                    font-size: 0.4em;
                    position: absolute;
                    top: 20%;
                    right: 16%;
                }
            }

            .inputBox {
                margin-top: 30px;
                position: relative; // posicionar os filhos relativos a ele

                input {
                    width: 100%;
                    padding: 22px 10px;
                    outline: none;
                    background: transparent;
                    border: none;
                    font-size: 1em;
                    letter-spacing: 0.05em;

                    &:focus ~ span,
                    &:valid ~ span {
                        color: $main-light-color;
                        transform: translateY(-30px);
                        font-size: 0.75em;
                    }

                    &:focus ~ div,
                    &:valid ~ div {
                        height: 35px;
                    }
                }
                
                span {
                    padding: 20px 0;
                    position: absolute; // torna um relemento relativo ao body ou ao elemento mais próximo com position = relative
                    left: 0;
                    font-size: 1em;
                    color: $label-text-color;
                    pointer-events: none;
                    letter-spacing: 0.05em;
                    transition: 500ms;
                }

                div {
                    height: 1px;
                    width: 100%;
                    background: $main-light-color;
                    pointer-events: none;
                    position: absolute;
                    bottom: 17px;
                    transition: 500ms;
                    border-radius: 5px;
                    z-index: -1;
                }
            }

            .links {
                display: flex;
                justify-content: space-between;

                a {
                    margin: 10px 0;
                    font-size: 0.75em;
                    color: $label-text-color;
                    text-decoration: none;

                    &:hover {
                        color: $main-light-color;
                    }

                    &:nth-child(2) {
                        color: $main-light-color;
                    }
                }
            }

            .submitBtn {
                border: none;
                outline: none;
                background: $main-light-color;
                padding: 12px 25px;
                border-radius: 5px;
                width: fit-content;
                margin-top: 10px;
                cursor: pointer;
                font-weight: bold;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }
}